################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Backup
/PhotoFileRenamer/bin/Debug
/PhotoFileRenamer/obj/Debug
/UpgradeLog.htm
